body {
	text-align: center;
	background: url("https://www.pantherpartners.com/uploads/8/6/1/7/86179052/s650898027556343822_p12_i1_w1920.jpeg");
	background-size: cover;
}

#nav {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 60px;
}

#nav h1 {
	color: white;
}

.hasCard {
	width: 10%;
	height: 150px;
	background-repeat: round;
	display: inline-block;
	margin: 15px;
	/*border: 1px white solid;*/
}

.highlight {
	border: 1px black solid;
}

.hasCard:hover {
	width: 200px;
	height: 250px;
}

#battlefield {
	height: 500px;
	width: 80%;
	/*border: solid purple;*/
	position: relative;
	top: 20px;
	left: 0px;
}

#panel {
	position: absolute;
	right: 0;
	top: 8px;
	height: 500px;
	width: 10%;
	border: solid black;
}

#panel h1 {
	margin-bottom: 0px;
}

.playerCards {
	position: relative;
	width: auto;
	height: 49%;
}

.player2Field {
	border-bottom: white solid 2px;
}

.playerCards div {
	position: relative;
	width: 100px;
	height: 45%;
	display: inline-block;
	margin: 20px;
	vertical-align: top;
}

#messageHolder {
	position: relative;
	width: 100%;
	height: 55%;
	bottom: 0;
}

#messages {
	color: red;
}

#panel h1 {
	font-size: 16px;
}

#showHand {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#showHand p {
	display: inline;
	margin: 10px;
}

.rotated {
	transform: rotate(90deg);
}
